<div>
<h4>Put your survey question and options here</h4>
<form (submit)="onCreateMade()" #formData="ngForm">
  Question: <textarea name="question" rows="1" cols="80" [(ngModel)]="newSurvey.question" #question="ngModel"></textarea>
  <p></p>
  Option 1: <input type="text" name="option1" [(ngModel)]="newSurvey.option1" #option1="ngModel">
  <p></p>
  Option 2: <input type="text" name="option2" [(ngModel)]="newSurvey.option2" #option2="ngModel">
  <p></p>
  Option 3: <input type="text" name="option3" [(ngModel)]="newSurvey.option3" #option3="ngModel">
  <p></p>
  Option 4: <input type="text" name="option4" [(ngModel)]="newSurvey.option4" #option4="ngModel">
  <p></p>
  <button type="submit" [disabled]="!formData.form.valid">Create</button>
</form>
</div>
