<div>
<h3>Friends-List App</h3>
<table>
  <thead>
    <tr>
      <th>Name</th><th>Show</th><th>Update</th><th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let friend of friends">
      <td>{{friend.firstName}} {{friend.lastName}}</td>
      <td><button (click)="onShowButton(friend)">Show</button></td>
      <td><button (click)="onUpdateButton(friend)">Update</button></td>
      <td><button (click)="onDeleteButton(friend)">Delete</button></td>
    </tr>
  </tbody>
</table>
<button (click)="onNewButton()">Add New</button>
</div>

<!-- <app-friends-edit> *ngIf="friend.editable" [friend]="friend" (updateFriends)="getFriends()"</app-friends-edit> -->
