<div>
<h3>Items-List App</h3>
<table>
  <thead>
    <tr>
      <th>Name</th><th>Show</th><th>Update</th><th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.firstName}} {{item.lastName}}</td>
      <td><button (click)="onShowButton(item)">Show</button></td>
      <td><button (click)="onUpdateButton(item)">Update</button></td>
      <td><button (click)="onDeleteButton(item)">Delete</button></td>
    </tr>
  </tbody>
</table>
<button (click)="onNewButton()">Add New</button>
</div>

<!-- <app-items-edit> *ngIf="item.editable" [item]="item" (updateItems)="getItems()"</app-items-edit> -->
